<div class="materials" v-if="selectedMaterial">
  <h3>Bible Timeline</h3>
  <div class="material-tables">
    <input id="bible-times" v-model="searchTermTimeline" type="text" placeholder="search for time...">
    <div class="list-of-bible-times">
      <div class="timeline">
        <div class="info">
          <span class="icon icon-delete"></span>
          <div class="timeline-time material-info">
            <strong>Time</strong>
          </div>
          <div class="timeline-events material-info">
            <strong>Events</strong>
          </div>
        </div>
      </div>
      <div class="timeline" v-for="(time, index) in searchedTimeline" :key="index">
        <div class="info" @click="selectTime(time)">
          <input type="checkbox" />
          <div class="timeline-time material-info">{{time.date}}</div>
          <div class="timeline-events material-info">
            <div v-for="(event, index) in time.events" :key="index">{{event}}</div>
          </div>
        </div>
      </div>
    </div>

    <h3>List of Materials</h3>
    <input id="search-box" v-model="searchTerm" type="text" placeholder="search for material..." />
    <div class="list-of-materials">
      <div class="material">
        <div class="info">
          <span @click.prevent="deleteMaterials()" class="icon icon-delete"></span>
          <div class="title material-info">
            <strong>Title</strong>
          </div>
          <div class="author material-info">
            <strong>By</strong>
          </div>
          <div class="type material-info">
            <strong>Type</strong>
          </div>
          <div class="time material-info">
            <strong>Time</strong>
          </div>
        </div>
      </div>
      <div class="material" v-for="(material, index) in searched" :key="index">
        <div class="info" @click="selectMaterial(material)">
          <input :class="'checkbox-'+material.uid+' chkbx'" @click="checkedMaterial(material)" type="checkbox" name="material-" />
          <div class="title material-info">{{material.title}}</div>
          <div class="author material-info">{{material.author}}</div>
          <div class="type material-info">{{material.type}}</div>
          <div class="time material-info">{{material.time}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="material-panel">
    <material :material="selectedMaterial" />
    <div class="save-materials">
      <button @click.prevent="addMaterial()" class="add-material">Add Material</button>
      <button @click.prevent="saveMaterials()">Save Materials</button>
    </div>
  </div>
</div>