<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>MaterialDesignList</title>
</head>

<body>
  <div id="container">
    <div class="list-view">
      <ul>
        <li>
          <span class="avatar"></span>
          <span class="name">Wilfrid Wolfgang</span>
        </li>
        <li>
          <span class="avatar"></span>
          <span class="name">Mathias Bristol</span>
        </li>
        <li>
          <span class="avatar"></span>
          <span class="name">Tristin Bentley</span>
        </li>
        <li>
          <span class="avatar"></span>
          <span class="name">Edgar Roger</span>
        </li>
        <li>
          <span class="avatar"></span>
          <span class="name">Alois Ilya</span>
        </li>
        <li>
          <span class="avatar"></span>
          <span class="name">Gunter Darden</span>
        </li>
        <li>
          <span class="avatar"></span>
          <span class="name">Dwayne Thorben</span>
        </li>
        <li>
          <span class="avatar"></span>
          <span class="name">Waylon Thierry</span>
        </li>
        <li>
          <span class="avatar"></span>
          <span class="name">Waylon Thierry</span>
        </li>
        <li>
          <span class="avatar"></span>
          <span class="name">Waylon Thierry</span>
        </li>
      </ul>
    </div>
    <div class="details-view">
      <div class="back">back</div>
      <div class="background"></div>
      <ul>
        <li><i class="fa fa-video-camera"></i>Chat</li>
        <li><i class="fa fa-envelope"></i>blah@gmail.com</li>
        <li><i class="fa fa-mobile"></i>(593)273-2847</li>
        <li><i class="fa fa-home"></i>(328)723-1794</li>
      </ul>
    </div>
  </div>
  <script src="./script.js"></script>
</body>

</html>