.md-btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  color: #424242;
  background-color: white;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  user-select: none;
  border-radius: 2px;
  transition: all .3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
}

.md-btn:hover {
  text-decoration: none;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0 0.225);
}

.md-btn.btn-fab,
.md-btn.btn-fab-mini {
  overflow: hidden;
  position: relative;
  margin: auto;
  padding: 0;
  line-height: normal;
  border-radius: 50%;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.md-btn.btn-fab:hover,
.md-btn.btn-fab-mini:hover {
  box-shadow: 0 4px 11px 0px rgba(0, 0, 0, 0.375);
}

.md-btn.btn-fab i,
.md-btn.btn-fab-mini i {
  display: inline-block;
  float: none;
  width: inherit;
  margin: 0;
  font-size: inherit;
  text-align: center;
  vertical-align: middle;
}

.md-btn.btn-fab i { line-height: 56px; }
.md-btn.btn-fab-mini i { line-height: 40px; }

.md-btn.btn-fab {
  width: 56px;
  height: 56px;
  font-size: 28px;
}
.md-btn.btn-fab-mini {
  width: 40px;
  height: 40px;
  font-size: 24px;
}

/* Raised Buttons */
.md-btn.btn-lg {
  height: 48px;
  line-height: 48px;
}

.md-btn.btn-sm {
  height: 30px;
  padding: 0 1rem;
  line-height: 30px;
  font-size: 12px;
}

.md-btn.btn-xs {
  height: 24px;
  padding: 0 .4rem;
  line-height: 24px;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: .2px;
}

/* Disabled */
.md-btn.disabled,
.md-btn[disabled] {
  cursor: default;
  color: #9e9e9e;
  box-shadow: none;
}

.md-btn.disabled:not(.btn-flat),
.md-btn[disabled]:not(.btn-flat) {
  background-color: #cdcdcd;
}

.md-btn.disabled:not(.btn-flat):hover,
.md-btn[disabled]:not(.btn-flat):hover {
  background-color: #cdcdcd;
}

.md-btn.btn-flat {
  box-shadow: none;
  background-color: transparent;
}

.md-btn.btn-flat:hover {
  background-color: #cecece;
  box-shadow: none;
}

.md-btn.btn-flat.disabled:hover,
.md-btn.btn-flat[disabled]:hover {
  background-color: transparent;
}

.md-btn.btn-link {
  color: #3949ab;
  box-shadow: none;
  background-color: transparent;
}

.md-btn.btn-link:hover {
  text-decoration: underline;
  background-color: transparent;
  box-shadow: none;
}

.md-btn.btn-link.disabled,
.md-btn.btn-link[disabled] {
  color: #9fa8da;
  text-decoration: underline;
  background-color: transparent;
}

.md-btn.btn-link.disabled:hover,
.md-btn.btn-link[disabled]:hover {
  background-color: transparent;
}

.md-btn i {
  float: left;
  width: auto;
  height: auto;
  margin-right: 10px;
  font-size: 1.3rem;
  line-height: inherit;
}

.md-btn i.right {
  float: right;
  margin: 0;
  margin-left: 10px;
}

/* Ripple effect */
.ripple-effect {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  z-index: 1;
}

.ripple-effect .ripple {
  display: block;
  position: absolute;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  pointer-events: none;
}

.ripple-effect .animated {
  animation: ripple 0.6s linear;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@-moz-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5)
  }
}

@-ms-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5)
  }
}

@-o-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5)
  }
}