<div id="quiz" v-if="user">
  <h1>Quiz</h1>
  <div class="row">
    <div class="column one-fourth">
      <div class="js-side-nav-container side-nav-container">
        <div class="js-side-nav side-nav">
          <div class="hidden">{{searched.length}}</div>
          <input v-model="search" type="text" placeholder="Enter search term...">
          <button @click.prevent="gotoPage('prev')">Prev Page</button>
          <button @click.prevent="gotoPage('next')">Next Page</button>

          <h2 class="icon icon-world">Creation till Date</h2>
          <ul>
            <li class="open-events" v-for="(time, index) in timeline" :key="index">
              <a href="#" @click.prevent="selectTime(time)">{{time.date}}</a>
            </li>
          </ul>
          <div :class="'side-nav-level ' + eventsClass">
            <h2>{{selectedTime.date}}</h2>
            <ul>
              <li v-for="(event, index) in selectedTime.events" :key="index" @click="selectMaterials(event)">{{event}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="column three-fourths"> 
      Total Aggregate is: {{totalAggregate}}
      <div class="selected-materials">
        <div class="selected-material modal-trigger modal-toggle" v-for="(material, index) in selectedMaterials" :key="index" @click="loadMaterial(material)">
          <div class="selected-material-title">{{material.title}}</div>
          <div class="selected-material-thumbnail">
            <img :src="material.thumbnail" alt="thumbnail" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal">
    <div class="modal-sandbox" @click="toggleModal()"></div>
    <div class="modal-box" v-if="loadedMaterial">
      <div class="modal-header">
        <div class="close-modal" @click="toggleModal()">&#10006;</div>
        <h1>{{loadedMaterial.title}}</h1>
      </div>
      <div class="modal-body">
        <iframe :src="loadedMaterial.location" frameborder="0"></iframe>
        <div class="questions" v-if="!quizEnded">
          <div class="question-title">{{ nextQuestion.title }}</div>
          <ul>
            <li @click="processresponse(nextQuestion, optionIdx)" v-for="(option, optionIdx) in nextQuestion.options" :key="optionIdx">
              {{option.value}}
            </li>
          </ul>
        </div>
        <div class="questions" v-if="quizEnded">
          {{quizEnded}}
        </div>
      </div>
    </div>
  </div>
</div>