ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Materials Style */

.materials,
.timeline {
  height: 260px;
  overflow-y: auto;
}
 
.material-title,
.material-questions,
.material-edit-pane,
.material-preview-pane, 
.question-edit-pane,
.question-preview-pane {
  display: inline-block;
  vertical-align: top;
}

  
.material-list,
.question-list { 
  background-color: greenyellow
}

.material-pane,
.question-pane { 
  background-color: aqua;
}
  
.material-edit-pane,
.material-preview-pane,
.question-edit-pane,
.question-preview-pane  { 
  margin: 2%;
}

iframe {
  width: 90%
}

.material-edit-pane > div > label,
.material-edit-pane > div > input,
.material-edit-pane > div > select {
  display: inline-block;
  text-align: left;
}

.material-edit-pane > div > label {
  width: 30%;
}

.material-edit-pane > div > input,
.material-edit-pane > div > select {
  width: 70%;
}

.material-preview-title,
.material-preview-time {
  font-weight: bold;
  font-size: 1.1em !important;
}
  
.material-preview-author,
.material-preview-event {
  font-size: 0.75em;
}

.save-materials {
  text-align: center;
}
@media screen and (min-width: 800px) {

  .material-list,
  .material-pane,
  .material-title,
  .material-questions,
  .material-edit-pane,
  .material-preview-pane,
  .question-list,
  .question-pane,
  .question-edit-pane,
  .question-preview-pane {
    display: inline-block;
    vertical-align: top;
  }
 
  
  .material-list,
  .question-list {
    width: 60%; 
  }
  
  .material-pane,
  .question-pane {
    width: 40%; 
  }
  
  .material-edit-pane,
  .material-preview-pane,
  .question-edit-pane,
  .question-preview-pane  {
    width: 46%; 
  }
  
  .material-questions {
    cursor: pointer;
  } 
}

.material-preview-thumbnail img {
  width: 90%
}