

#material {
  text-align: center;
}

.preview-iframe {
  width: 95%;
}

ol {
  padding: 0;
}

.material-info,
.material-questions {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  margin: 0 1%;
  background-color: aqua;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li.option  {
  display: inline-block;
  max-width: 120px;
  width: 100%;
  background-color: yellow;
  margin: 5px;
}

.label,
.element {
  display: inline-block;
  vertical-align: middle;
}

.label {
  width: 30%;
}

.element {
  width: 65%;
}

.question-option,
.question-points {
  width: 40%;
}


.question-search {
  width: 90%;
}