<div class="profile">
  <div class="row">
    <div class="column one-third section">
      <div class="container">
        <div class="row">
          <div class="column half biodata">
            <div>{{user.first_name}} {{user.last_name}}</div>
            <div>{{user.email}}</div>
            <div>{{user.birthday}}</div>
          </div>
          <div class="column half biodata">
            <div>
              <label for="totalAggregate">Total Points: </label>
              <span>{{totalPts}}</span>
            </div>
            <div>
              <label for="totalAggregate">Age is: </label>
              <span>{{age}}</span>
            </div>
            <div>
              <label for="totalAggregate">Total Aggregate: </label>
              <span>{{totalAggregate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column two-thirds">
      <div class="row">
        <div class="column one-third section">
          old testament
        </div>
        <div class="column one-third section">
          new testament
        </div>
        <div class="column one-third section">
          church age
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column two-thirds section">
      score history
    </div>
    <div class="column one-third section">
      <div class="users" v-if="user.roles_permissions.roles === 'admin'">
        <ul>
          <li v-for="(user, index) in users">
            {{user.first_name}} {{user.last_name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>