html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.row { text-align: center; }

.row::before,
.row::after {
  display: table;
  content: ' ';
  clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.three-fourths,
.half {
  width: 100%;
}

.column {
  margin-bottom: 10px;
  border: 1px solid black;
}

.container {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (min-width: 800px) {

  .one { width: 100%; }
  .half { width: calc(99% / 2); }
  .one-third { width: calc(98% / 3); }
  .one-fourth { width: calc(97% / 4); }
  .two-thirds { width: calc(98% / 3 * 2); }
  .three-fourths { width: calc(97% / 4 * 3); }

  .half:nth-child(n),
  .one-third:nth-child(n),
  .one-fourth:nth-child(n),
  .two-thirds:nth-child(n),
  .three-fourths:nth-child(n) { margin-right: 1%; }

  .half:last-child,
  .one-third:last-child,
  .one-fourth:last-child,
  .two-thirds:last-child,
  .three-fourths:last-child { margin-right: 0; }
  
  .column {
    display: inline-block;
    vertical-align: top;
  }
}