
  <div class="question-details"> 
    <h3>Material Question</h3>
    <div class="question">
      <label for="question">Question: </label>
      <textarea name="question" id="question" cols="30" rows="5" v-model="question.question" placeholder="Enter question..."></textarea>
    </div>
    <div class="question-picture-location" v-if="pictureQuestion">
      <input type="text" class="question-picture" placeholder="Enter picture url..." />
    </div>
    <div class="question-option-points" v-if="optionedQuestion">
      <input type="text" class="question-option" v-model="newOption.value" placeholder="Enter option..." />
      <input type="number" class="question-points" v-model="newOption.pts" placeholder="Enter points..." />
      <button @click="addOption(newOption)" class="add-option">Add Option</button>
    </div>
    <div class="question-actions">
      <button @click.prevent="addQuestion()" class="add-question">Add Question</button>
    </div>
  </div>